<?xml version="1.0"?>
<model>
  <name>Generic Tiltrotor VTOL </name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
   <name>ZeWen Sun</name>
   <email>18503788266@163.com</email>
  </author>

  <description>
    This is a model of a standard VTOL quad plane.
  </description>
</model>
